/*Nav bar css
*/
.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
}

.navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
}
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
}

.navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
}
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
}

.navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
}
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
}

.navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
}
}



.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
/*
NAV bar css ends here*/



/*
content css starts here*/

body {
    background-color: #eeeeee;
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}


/* CHAT */


        .bg-fbook {
            background-color: #4267b2 !important;
            padding: .1rem 1rem;
        }
        .btn-fbook{
            color: #4a4a4a;
            background-color: #ffffff;
            border-color: transparent;
            font-weight: 700;
            transition: all .5s;
        }
        .btn-fbook:hover{
            background-color: #f0f0f0;
            border-color: transparent;
        }
        .btn-fposts{
            background-color: #f0f0f0;
            border-color: transparent;
            border-radius: 5rem;
            transition: all 0.5s;
        }
        .btn-fposts:hover{
            background-color: rgba(0,0,0,.05);
            border-color: transparent;
        }
        .h7{
            font-size: 0.87rem;
            font-weight: 600;
        }
        .h8{
            font-size: 0.78rem;
            font-weight: 600;
        }

        .offset-fixed{
            position: fixed;
            top: 0;
            bottom: 0;
        }
        .f-left{
            left: 0
        }
        .f-right{
            right: 0;
        }
        .side-left{
            margin-top: 4rem;
            margin-left: 8.07rem
        }
        .side-right{
            margin-top: 1rem;
            overflow-x: hidden;
            overflow-y: auto;
            height: calc(100vh - 7.5rem);
        }
        .img-circle{
            width: 5rem;
            height: 3.1rem;
            background-color: #f7f7f7;
            border-radius: 50%;
            border: 1px solid #dddddd;
        }
        .state{
            width: 0.5rem;
            height: 0.5rem;
            background-color: green;
            border-radius: 50%
        }
        .friend-state{
            padding: 0.57rem 0.3rem;
            cursor: pointer;
            transition: all 0.1s;
        }
        .friend-state:hover{
            background-color: #f7f7f7;
        }

        
   